// === COLORS ===
$body-color: #BDBDBD;
$content-color:#f5f5f5;
$theme-color:#0277BD;
$secondary-theme-color:#E0E0E0;
$buuble-one-color:#ffffff;
$buuble-two-color: #B3E5FC;
$scroll-bg-color: white;

$margin-buble-one: 2% 5% 0 10%;
$margin-buble-two: 2% 10% 0 5%;

